I:/JPA-Data
I:/LKiPA-Data


JPA Measurements/I:
JPA Measurements/__pycache__
JPA Measurements/Signal Data
JPA Measurements/time_mode.txt

LKIPA Measurements/I:
LKIPA Measurements/Time series data
LKIPA Measurements/pump_settings_dc04-06_rf015-03.csv


Planck/Bluefors_Control_Software_User_Manual.pdf
Planck/JPA_credentials.py
Planck/bluefors.log
Planck/__pycache__
Planck/Bluefors-Temperature-Controller-API-Technical-Reference-version-3.0.pdf
Planck/Bluefors-Temperature-Controller-Software-Upgrade-Instructions.pdf
Planck/Bluefors-Temperature-Controller-User-Manual-version-5.0.pdf
Planck/BlueFTC-Manuals
Planck/Planck Run 2026-04/LKIPA Resonance Fitting 2026-03
Planck/Planck Run 2026-04/LKIPA Resonance Fitting 2026-04
Planck/Planck Run 2026-04/LKIPA Resonance Fitting Lockin 2026-04
Planck/Planck Run 2026-04/DR Temp Logs
Planck/Figures
**/__pycache__/
